.linkIcon{
margin-right: 25px;
}
.iconSearch{
  border: none;
  background-color:#edf3f8 ;
}

.form-control{
  margin-right: 60px;
  border: none;
  background-color: #edf3f8;
}

.ContTot{
  align-items: center;
}

.frstDrop{
  margin-right: 10px;
}

.SecondElement{
  margin-left: 10px;
  display: flex;
  gap: 25px;
}

.frstCont{
  border-right: 1px solid  #E9E9E9;
}
.ContTot{
  border: 1px solid  #E9E9E9;
  height: 61px;
  padding-top: 20px;
  padding-bottom: 15px;
}

.btn{
  height: 20px;
}
.txtp{
  width: 150px;
  text-align: center;
  text-decoration: underline;
  color: #915907;
}

.txtp:hover{
  color: black;
}

.txtNavBar{
  font-size: small;
  margin-left: 15px;
  margin-right: 15px;
}

.StrutturaNav{
  /* border:1px solid #E9E9E9; */
  height: 51px;
}

.IconProfilo{
  margin-left: 20px;
}

.prova{
  width: 250px;
}

.btnDrop{
  width: 220px;
  height: 27px;
  border-radius: 18px;
  border: none;
}
.iconDropMenu{
  font-size:60px;
}

.txtProfilName{
  display: flex;
  font-size: 20px;
  margin-top: 15px;
}
.infoDrop{
  font-size: small;
}

.pAccount{
  color:#646464 ;
  font-size: 13px;
}
.pAccount:hover{
  text-decoration: underline;
  cursor: pointer;
}

