.card {
  padding: 2em;
}
.container-size {
  padding-left: 80px;
}

.image-exp{
  object-fit: cover;
  margin-right: 10px;
}

.card-title{
  margin-bottom: 5px;
}

.read-the-docs {
  color: #888;
}
.profile-image {
  border-radius: 50%;
  position: absolute;
  left: 3%;
  top: 20%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.profile-image-home {
  border-radius: 50%;
  position: absolute;
  left: 3%;
  top: 20%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
.profile-image-post {
  border-radius: 50%;
  position: absolute;
  left: 3%;
  top: 20%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
.info-contatto {
  cursor: pointer;
  font-weight: 600;
}
.camera {
  position: absolute;
  width: 50px;
  height: 50px;
}
.space-Consigliati {
  margin-left: 60px;
}
.info-contatto:hover {
  text-decoration: underline;
}
.story-area:hover {
  background-color: #dddddd56;
}
.story-news-area {
  background-color: rgba(240, 201, 116, 0.795);
  border-radius: 5px;
}
.text-story {
  font-size: 13px;
}
.text-story-time {
  font-size: 12px;
}
.alert-text {
  font-size: 14px;
}
.left-side-bar-home {
  font-size: 14px;
}
.left-side-bar-home-area {
  font-size: 11px;
}
.bg-alert {
  background-color: #edf3f8;
  border: none;
}
.bg-alert-start {
  background-color: white;
  border: solid 1px rgba(180, 180, 180, 0.308);
}
.bg-image {
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.bg-image-home {
  height: 100px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.card-linkedin {
  border-radius: 20px 20px 10px 10px;
}
.card-linkedin-secondary {
  border-radius: 10px 10px 10px 10px;
}

.footer-text {
  font-size: 12px;
  color: #888;
}
body {
  background-color: rgba(244, 242, 238, 255);
}
.footer-text-icons {
  color: black;
}
.footer-text-questions {
  font-size: 14px;
  font-weight: 600;
  color: #5e5e5e;
  text-decoration: none;
}
.footer-text-questions:hover {
  text-decoration: underline;
  color: rgb(53, 53, 165);
  cursor: pointer;
}
.footer-text p:hover {
  text-decoration: underline;
  color: rgb(53, 53, 165);
  cursor: pointer;
}
.collegati {
  color: black;
  font-size: 1em;
  border: 1px solid #646464;
  border-radius: 37px;
  padding: 5px 25px;
  cursor: pointer;
  background-color: white;
}
.collegati:hover {
  color: #9f9f9f;
  background-color: #2a2a2a;
  color: white;
}
.collegati:hover i {
  color: white;
}
.linkIcon {
  margin-right: 25px;
  margin-bottom: 12px;
}
.iconSearch {
  border: none;
  background-color: #edf3f8;
  margin-bottom: 10px;
}
.input-group {
  width: 32%;
}

.form-check{
  margin-bottom: 14px;
}

.form-control {
  margin-right: 60px;
  border: none;
  background-color: #edf3f8;
  margin-bottom: 10px;
}
.Home-link {
  text-decoration: none;
  color: #5e5e5e;
}
.Home-link:hover {
  color: #2a2a2a;
}
.ContTot {
  align-items: center;
}

.frstDrop {
  margin-right: 10px;
}

.SecondElement {
  margin-left: 10px;
  display: flex;
}

.ContTot {
  background-color: white;
  border: 1px solid #e9e9e9;
  height: 55px;
  padding-top: 20px;
}
.navBarTot {
  height: 89px;
}

.txtp {
  width: 120px;
  text-align: center;
  text-decoration: underline;
  color: #915907;
  cursor: pointer;
  font-size: 13px;
}

.txtp:hover {
  color: black;
}

.txtNavBar {
  font-size: x-small;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 21px;
  height: 65px;
}

.StrutturaNav {
  height: 51px;
  margin-left: 350px;
  margin-right: 350px;
}

.IconProfilo {
  margin-left: 20px;
}

.prova {
  width: 250px;
}

.btnDrop {
  width: 220px;
  height: 27px;
  border-radius: 18px;
  border: none;
}
.iconDropMenu {
  font-size: 60px;
}

.txtProfilName {
  display: flex;
  font-size: 20px;
  margin-top: 15px;
}
.infoDrop {
  font-size: small;
}

.pAccount {
  color: #646464;
  font-size: 13px;
}
.pAccount:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* !!!!!!!!!!!!!!!!!!! CONTENT PROFILE!!!!!!!!!!!!!!!!!*/

.PopUpContainer {
  display: flex;
  justify-content: flex-end;
}
.PopUp2 {
  width: 752px;
}
.grillSpan {
  margin-top: 2px;
}
.n1 {
  width: 374px;
  border-right: 1px solid #e9e9e9;
}

.n2 {
  width: 374px;
}

.spanIcon {
  height: 25px;
  width: 50px;
  padding: 0px;
}

.grigliaIcon {
  margin-left: 30px;
}

.iconProfiloNavBar {
  border-radius: 50px;
  margin-top: 4px;
  margin-left: 16px;
}

.spanDropMenuDx:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: blue;
}
#basic-nav-dropdown {
  padding: 0px;
  padding-top: 11px;
  padding-right: 5px;
}

#ProfiloTxt {
  font-size: x-small;
  margin-left: 15px;
  margin-right: 15px;
}
.h6Drop {
  color: #9b9a9a;
}

.vr {
  margin-top: 11px;
  height: 50px;
}

.pDropMenuDx {
  color: #9b9a9a;
  margin-bottom: 26px;
  font-size: small;
}

.pDropMenuSx:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: blue;
}

.txtNavBar {
  cursor: pointer;
}

.txtNavBar.active {
  border-bottom: 2px solid black;
}

.DropCont1 {
  margin-bottom: 17px;
}



/* !!!!!!!!!!!!!!FORM!!!!!!!!!!!!!!!!!!!!!!*/

.ContainerForm{
  height: 500px;
  width: 744px;
  padding: 0px;
}

.ContainerForm {
  overflow-y: auto;
}

.modal-body-scrollable {
  max-height: 70vh; /* or any other value */
  overflow-y: auto;
}

.modal-body-scrollable::-webkit-scrollbar {
  margin-top: 10px;
  width: 4px;
}
.modal-body-scrollable::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 0.5px solid #eee;
}


.ContainerForm::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ControlloPosi{
  display: flex;
  justify-content: center;
}

.btnForm{
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #ffffff;
background-color: #0066CC;
padding: 6px 21px;
border: none;
box-shadow: none;
border-radius: 50px;
transition : 1307ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btnForm:hover{
background-color: #01458a;
color: #ffffff;
border: none;
}

.checkForm{
  display: flex;
  align-items: center;
}

.ContCheckForm{
  display: flex;
  background-color: #edf3f8;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
}

.buttonExit{
  border: none;
  font-size: x-large;
  font-weight: bold;
}

.spanForm{
  cursor: pointer;
}

.spanForm:hover{
  text-decoration: underline;
}

.form-controlForm{
  border:1px solid #555;
  width: 100%;
}

.form-select1{
  width: 48%;
}
 
input{
  margin-right: 15px;
  margin-bottom: 1px;
}

input[type="checkbox"]{
  width: 25px;
  height:25px;
}
.spanfs{
  font-size:small ;
}

.btnCompetenze{
  font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
font-weight: bold;
color: #0066CC;
background-color: #ffffff;
padding: 6px 21px;
border:2px solid #0066CC;
box-shadow: none;
border-radius: 50px;
transition : 1307ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.btnCompetenze:hover{
  background-color: #ffffff;
color: #01458a;
border: 2px solid #01458a;
}

.containerDrop{
  border: 1px solid rgb(146, 146, 146);
  width: 293px;
  height: 185px;
  border-radius: 10px;
}
.contenitoreDropDown1{
  /* border: 2px solid rgb(0, 0, 0); */
  display: flex;
  width: 292px;
    height: 85px;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    translate: -1px 0px;
}


.contenitoreDropDown1:hover{
  background-color: #d8d8d8;
}

.contenitoreDropDown2{
  /* border: 2px solid rgb(8, 8, 8); */
  display: flex;
    height: 103px;
    width: 292px;
    cursor: pointer;
    translate: 0px -4px;
    border-radius: 0px 0px 10px 10px;
}

.contenitoreDropDown2:hover{
  background-color: #d8d8d8;
}

.svgDropDown1{
  
  height: 77px;
  width: 43px;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.svgDropDown2{
  
  height: 93px;
  width: 56px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  
}

.hrDropDownForm{
  height: 5px;
  margin: 0px;
}


.progress {
  height: 8px;
}
.text-analisi {
  font-size: 15px;
}
.btn-analisi {
  background-color: white;
  color: #646464;
  border: none;
  border-top: 1px solid #a8a8a896;
  border-radius: 0px;
}
.btn-analisi:hover {
  background-color: #d8d8d83b;
  border-top: 1px solid #a8a8a896;
  color: #494949;
}
.file-input {
  position: relative;
  left: 85%;
}
.image-exp {
  width: 80px;
  height: 80px;
}
.card-ex {
  border: none;
}
.btn-Add {
  position: relative;
  left: 72%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: #2a2a2a;
  border: rgb(255, 255, 255);
}
.btn-edit {
  position: absolute;
  left: 80%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: #2a2a2a;
  border: rgb(255, 255, 255);
}
.btn-delete {
  position: absolute;
  left: 89%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  color: #ff0000;
  border: rgb(255, 255, 255);
}
.btn-Add:hover {
  background-color: rgb(173, 173, 173);
  color: #2a2a2a;
  border: rgb(255, 255, 255);
}
.btn-edit:hover {
  background-color: rgb(173, 173, 173);
  color: #2a2a2a;
  border: rgb(255, 255, 255);
}
.btn-delete:hover {
  background-color: rgb(173, 173, 173);
  color: #ff0000;
  border: rgb(255, 255, 255);
}

/* !!!!!!!!!!!MODAL!!!!!!! */

.modal-content{
width: 744px;
height: 760px;
}

.modal-body{
  height: 760px;
  padding: 0px;
}

.scrollable-content{
  height: 615px;
}
.btn-post {
  border: #888;
  border-radius: 0px 20px 20px 0px;
}
.textArea {
  margin-left: 60px;
  border: #d6d6d662 solid 1px;
  border-radius: 30px 0px 0px 30px;
  width: 600px;
  height: 50px;
  line-height: 40px;
}
.logo-text-likedin {
  height: 20px;
  width: 60px;
}
.search-area {
  width: 300px;
}
.text-sidebar-profile {
  font-size: 18px;
}
.text-sidebar-profile-small {
  font-size: 14px;
}


.contFormTot{
  height: 552px;
  border:2px solid  #0066CC;
}

#formImage{
  width: 100px;
  color: #0066CC;
  padding: 7px;
  padding-left: 18.8px;
}


/* !!!!!!!!!!!!HOMEEE!!!!!!!!!!!!!!!!!!!!! */

.contenitoreLatSx{
  width: 225px;
  padding: 0px;
}

.contenitoreCentrale{
  width:555px;
}

.btnMultimed{
  width:193px ;
  height: 48px;
  padding: 0px;
  padding-top: 10px;
  padding-left: 2px;
  border: none;
  background: transparent;
  color: #000000;
}
.svgContenutiMult{
  height: 30px;
  width: 30px;
}

.contCreaPost{
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.btnCreaPost{
  border-radius: 30px;
  width: 467px;
  height: 48px;
  background-color: transparent;
  border:1px solid#555;
}

.btnEvento {
  height: 48px;
  width: 98px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  color: #000000;
  border: none;
}

.btnArticolo{
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  color: #000000;
  border: none;
  width: 155px;
  height: 48px;
}

.btnArticolo:hover{
  background-color: #eeeeee;
  color: #000000;
}

.btnEvento:hover{
  background-color: #eeeeee;
  color: #000000;
}

.btnMultimed:hover{
  background-color: #eeeeee;
  color: #000000;
}
