.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.profile-image {
  border-radius: 50%;
  position: absolute;
  left: 3%;
  top: 20%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
.bg-image {
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card-linkedin {
  border-radius: 20px 20px 10px 10px;
}
.card-linkedin-secondary {
  border-radius: 10px 10px 10px 10px;
}

.footer-text {
  font-size: 12px;
  color: #888;
}
body {
  background-color: rgba(244, 242, 238, 255);
}
.footer-text-icons {
  color: black;
}
.footer-text-questions {
  font-size: 14px;
  font-weight: 600;
  color: #5e5e5e;
  text-decoration: none;
}
.footer-text-questions:hover {
  text-decoration: underline;
  color: rgb(53, 53, 165);
  cursor: pointer;
}
.footer-text p:hover {
  text-decoration: underline;
  color: rgb(53, 53, 165);
  cursor: pointer;
}
.collegati {
  color: black;
  font-size: 1em;
  border: 1px solid #646464;
  border-radius: 37px;
  padding: 5px 25px;
  cursor: pointer;
  background-color: white;
}
.collegati:hover {
  color: #9f9f9f;
  background-color: #2a2a2a;
  color: white;
}
.collegati:hover i {
  color: white;
}
.linkIcon {
  margin-right: 25px;
  margin-bottom: 12px;
}
.iconSearch {
  border: none;
  background-color: #edf3f8;
  margin-bottom: 10px;
}
.input-group {
  width: 32%;
}
.form-control {
  margin-right: 60px;
  border: none;
  background-color: #edf3f8;
  margin-bottom: 10px;
}

.ContTot {
  align-items: center;
}

.frstDrop {
  margin-right: 10px;
}

.SecondElement {
  margin-left: 10px;
  display: flex;
  gap: 25px;
}

.ContTot {
  border: 1px solid #e9e9e9;
  height: 55px;
  padding-top: 20px;
}
.navBarTot {
  height: 89px;
}
.btn {
  height: 20px;
}
.txtp {
  width: 150px;
  text-align: center;
  text-decoration: underline;
  color: #915907;
  cursor: pointer;
}

.txtp:hover {
  color: black;
}

.txtNavBar {
  font-size: x-small;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 21px;
  height: 65px;
}

.StrutturaNav {
  height: 51px;
}

.IconProfilo {
  margin-left: 20px;
}

.prova {
  width: 250px;
}

.btnDrop {
  width: 220px;
  height: 27px;
  border-radius: 18px;
  border: none;
}
.iconDropMenu {
  font-size: 60px;
}

.txtProfilName {
  display: flex;
  font-size: 20px;
  margin-top: 15px;
}
.infoDrop {
  font-size: small;
}

.pAccount {
  color: #646464;
  font-size: 13px;
}
.pAccount:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* !!!!!!!!!!!!!!!!!!! CONTENT PROFILE!!!!!!!!!!!!!!!!!*/

.PopUpContainer {
  display: flex;
  justify-content: flex-end;
}
.PopUp2 {
  width: 752px;
}
.grillSpan {
  margin-top: 2px;
}
.n1 {
  width: 374px;
  border-right: 1px solid #e9e9e9;
}

.n2 {
  width: 374px;
}

.spanIcon {
  height: 25px;
  width: 50px;
  padding: 0px;
}

.grigliaIcon {
  margin-left: 30px;
}

.iconProfiloNavBar {
  border-radius: 50px;
  margin-top: 4px;
  margin-left: 16px;
}

.spanDropMenuDx:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: blue;
}
#basic-nav-dropdown {
  padding: 0px;
  padding-top: 11px;
  padding-right: 5px;
}

#ProfiloTxt {
  font-size: x-small;
  margin-left: 15px;
  margin-right: 15px;
}
.h6Drop {
  color: #9b9a9a;
}

.vr {
  margin-top: 11px;
  height: 50px;
}

.pDropMenuDx {
  color: #9b9a9a;
  margin-bottom: 26px;
  font-size: small;
}

.pDropMenuSx:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: blue;
}

.txtNavBar {
  cursor: pointer;
}

.txtNavBar.active {
  border-bottom: 2px solid black;
}

.DropCont1 {
  margin-bottom: 17px;
}



/* !!!!!!!!!!!!!!FORM!!!!!!!!!!!!!!!!!!!!!!*/

.ContainerForm{
  border: 0.5px solid #c5c5c5;
  border-radius: 11px;
  height: 851px;
  width: 744px;
  padding: 0px;
  position: relative;
}


.ContainerForm {
 /*  width: 100%; */
  /* height: 657; */ /* Altezza fissa, puoi cambiare secondo le tue necessità */
  overflow-y: auto;
}

/* Stilizzazione per Chrome, Edge e Safari */
.ContainerForm::-webkit-scrollbar {
  width: 12px;
}

.ContainerForm::-webkit-scrollbar-track {
  background: #eee;
}

.ContainerForm::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 1px solid #eee;
}

/* Facoltativo: Cambiare il colore dello scrollbar al passaggio del mouse */
.ContainerForm::-webkit-scrollbar-thumb:hover {
  background: #555;
}






.ControlloPosi{
  display: flex;
  justify-content: center;
  margin-top: 58px;
  margin-bottom: 60px;
}

.btnForm{
font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #ffffff;
background-color: #0066CC;
padding: 6px 21px;
border: none;
box-shadow: none;
border-radius: 50px;
transition : 1307ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btnForm:hover{
background-color: #01458a;
color: #ffffff;
border: none;
}

.checkForm{
  display: flex;
  align-items: center;
}

.ContCheckForm{
  display: flex;
  background-color: #edf3f8;
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid #9b9a9a;
}

.buttonExit{
  border: none;
  font-size: x-large;
  font-weight: bold;
}


.spanForm{
  cursor: pointer;
}

.spanForm:hover{
  text-decoration: underline;
}

.form-control{
  border:1px solid #555;
}

.form-select1{
  width: 48%;
}
.form-select-container{
  display: flex;
  justify-content: ;
}

input[type="checkbox"]{
  width: 25px;
  height:25px;
}
.spanfs{
  font-size:small ;
}

.btnCompetenze{
  font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
font-weight: bold;
color: #0066CC;
background-color: #ffffff;
padding: 6px 21px;
border:2px solid #0066CC;
box-shadow: none;
border-radius: 50px;
transition : 1307ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;

}

.btnCompetenze:hover{
  background-color: #ffffff;
color: #01458a;
border: 2px solid #01458a;
}